.Movie {
  background-color: rgb(234, 227, 183);
  padding: 1rem;
  margin-bottom: 1rem;
}

.Movie.best {
  background-color: rgb(231, 205, 41);
}

.btn-like {
  background-color: rgb(231, 142, 238);
  padding: 0.5rem;
}

.btn-dislike {
  background-color: rgb(175, 175, 175);
  padding: 0.7rem;
}

.btn-top {
  background-color: rgb(35, 161, 157);
  padding: 0.7rem;  
}

button {
  border: none;
  border-radius: 4px;
  margin: 0.2rem;
  width: 100px;
}

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 2rem;
}

.movie-content {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 2rem;
}
